body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
}
html,
body,
.wrapper,
#root {
  height: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-container {
  max-width: 590px;
  max-height: 680px;
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
}
.slide.active {
  display: block;
}

button {
  background: white;
  border: 0;
  cursor: pointer;
  height: 4.3rem;
  padding: 1.5rem;
  width: 4.3rem;
  outline: none;
}

button img {
  width: 65%;
}

.arrows {
  display: flex;
}

.arrow-prev img {
  transform: rotate(-180deg);
}

.arrow.inactive img {
  opacity: 0.4;
  cursor: no-drop;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dots {
  display: flex;
  margin-left: 2.5rem;
}
.dot {
  background: white;
  border-radius: 50%;
  height: 0.4rem;
  width: 0.4rem;
  margin: 0.2rem;
}

.dot.active {
  background: rgb(113, 114, 114);
}
